<!--
Michelle Clare Que, 243687; Nathan Riley Sy, 244311; Andrew Gabriel Zapico, 246798
April 13, 2026

I hereby attest to the truth of the following facts:

I have not discussed the HTML language code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used HTML language code obtained from another student, or
any other unauthorized source, either modified or unmodified.

If any HTML language code or documentation used in my program was
obtained from another source, such as a textbook or course notes, that has been clearly noted with proper citation in the
comments of my program.
-->

{% extends "tapasapp/base.html" %}
{% block content %}
<div class="col-md-6 offset-md-3 mt-5">
  <h2 class="mb-4">Signup</h2>

  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" id="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Create Account</button>
    <a href="{% url 'login' %}" class="mx-1 btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
