{% extends 'MyInventoryApp/base.html' %}
{% load static %}
                {% block sidebar %}
                    <a href="{% url 'view_inventory' %}">Back to Main Page</a>
                {% endblock %}
                
                {% block content %}
                <div class="container-fluid"> 
        
                    <div class="row justify-content-left">
                        <div class="col-12" >
                            <div class="card">
                                <div class="card-header">
                                    <h6><strong>Type in Waterbottle Details:</strong></h6>
                                </div>
                                <div class="card-body">
                                    <form id="add_menu_form" method="GET">

                                        <div class="row mb-4">
                                            <div class="col-md-2">
                                                <label for="add_sku" class="form-label">SKU:</label>
                                                <input type="text" class="form-control" id="add_sku">
                                            </div>

                                            <div class="col-md-3 offset-md-4">
                                                <label for="add_brand" class="form-label">Brand:</label>
                                                <input type="text" class="form-control" id="add_brand" name="add_brand">
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-md-3">
                                                <label for="add_cost" class="form-label">Cost:</label>
                                                <input type="number" class="form-control" id="add_cost" name="add_cost" step="0.01" min="0">
                                            </div>

                                            <div class="col-md-3 offset-md-3">
                                                <label for="add_size" class="form-label">Size:</label>
                                                <input type="text" class="form-control" id="add_size" name="add_size">
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-md-3">
                                                <label for="add_mouth_size" class="form-label">Mouth Size:</label>
                                                <input type="text" class="form-control" id="add_mouth_size" name="add_mouth_size">
                                            </div>

                                            <div class="col-md-3 offset-md-3">
                                                <label for="add_color" class="form-label">Color:</label>
                                                <input type="text" class="form-control" id="add_color" name="add_color">
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-md-4">
                                                <label for="add_suppliedby" class="form-label">Supplied by:</label>
                                                <input type="text" class="form-control" id="add_suppliedby" name="add_suppliedby">
                                            </div>

                                            <div class="col-md-3 offset-md-2">
                                                <label for="add_current_quantity" class="form-label">Current Quantity:</label>
                                            <input type="number" class="form-control" id="add_current_quantity" name="add_current_quantity" min="0">
                                            </div>
                                        </div>
                        
                                        <button type="submit" class="btn btn-secondary">Add bottle</button>
                                    </form>                
                                </div>
                            </div>
                        </div>            
                    </div>
                    
                </div>
                {% endblock %}