<!--
, ; Nathan Riley Sy, 244311; ,
April , 2026

I hereby attest to the truth of the following facts:

I have not discussed the HTML language code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used HTML language code obtained from another student, or
any other unauthorized source, either modified or unmodified.

If any HTML language code or documentation used in my program was
obtained from another source, such as a textbook or course notes, that has been clearly noted with proper citation in the
comments of my program.
-->

{% extends 'MyInventoryApp/base.html' %}
{% load static %}

                {% block content %}
                <h2>Water Bottle Details</h2>

                <div class="mb-3">
                    <a href="{% url 'view_bottles' account.pk %}" class="btn btn=secondary">Back to Bottles</a>
                </div>

                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">SKU</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Size</th>
                                <th scope="col">Mouth Size</th>
                                <th scope="col">Color</th>
                                <th scope="col">Supplied By</th>
                                <th scope="col">Current Quantity</th>
                            </tr>
                        </thead>    
                        <tbody>
                            <tr>
                                <td>{{ bottle.SKU }}</td>
                                <td>{{ bottle.Brand }}</td>
                                <td>{{ bottle.Cost }}</td>
                                <td>{{ bottle.Size }}</td>
                                <td>{{ bottle.Mouth_Size }}</td>
                                <td>{{ bottle.Color }}</td>
                                <td>{{ bottle.Supplied_by.Name }}</td>
                                <td>{{ bottle.Current_Quantity }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <form method="POST" action="{% url 'delete_bottle' bottle.pk %}" class="mt-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Bottle</button>
                </form>
                {% endblock %}