<!--
Michelle Clare Que, 243687; Nathan Riley Sy, 244311; Andrew Gabriel Zapico, 246798
April 13, 2026

I hereby attest to the truth of the following facts:

I have not discussed the HTML language code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used HTML language code obtained from another student, or
any other unauthorized source, either modified or unmodified.

If any HTML language code or documentation used in my program was
obtained from another source, such as a textbook or course notes, that has been clearly noted with proper citation in the
comments of my program.
-->

{% extends 'MyInventoryApp/base.html' %}
{% load static %}
                
                {% block content %}
                <h2>Waterbottles</h2>
                <div class="col-12">

                    <table class="table table-striped">
                        <thead>
                            <th class="border-top border-bottom" scope="col"> SKU </th>
                            <th class="border-top border-bottom" scope="col"> Brand </th>
                            <th class="border-top border-bottom" scope="col"> Cost </th>
                            <th class="border-top border-bottom" scope="col"> Size </th>
                            <th class="border-top border-bottom" scope="col"> Mouth Size </th>
                            <th class="border-top border-bottom" scope="col"> Color </th>
                            <th class="border-top border-bottom" scope="col"> Supplied by </th>
                            <th class="border-top border-bottom" scope="col"> Current Quantity </th>
                            <th class="border-top border-bottom" scope="col"> More </th>
                        </thead>
                        <tbody>
                            {% for bottle in waterbottles %}
                            <tr>
                                <td> {{ bottle.SKU }} </td>
                                <td> {{ bottle.Brand }} </td>
                                <td> {{ bottle.Cost }} </td>
                                <td> {{ bottle.Size }} </td>
                                <td> {{ bottle.Mouth_Size }} </td>
                                <td> {{ bottle.Color }} </td>
                                <td> {{ bottle.Supplied_by.Name }} </td>
                                <td> {{ bottle.Current_Quantity }} </td>
                                <td> <a href="{% url 'view_bottle_details' bottle.pk %}" class="btn btn-primary btn-sm">Details</a> </td>
 
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="mt-4">
                        <a href="{% url 'view_supplier' %}" class="btn btn-secondary"> Back </a>
                    </div>
                </div>
                {% endblock %}