<!--
, ; Nathan Riley Sy, 244311; ,
April , 2026

I hereby attest to the truth of the following facts:

I have not discussed the HTML language code in my program with anyone
other than my instructor or the teaching assistants assigned to this course.

I have not used HTML language code obtained from another student, or
any other unauthorized source, either modified or unmodified.

If any HTML language code or documentation used in my program was
obtained from another source, such as a textbook or course notes, that has been clearly noted with proper citation in the
comments of my program.
-->

{% extends 'MyInventoryApp/base.html' %}
{% load static %}
                
                {% block content %}
                <h2>Waterbottles</h2>
                <div class mb-3>
                    <a href="{% url 'view_supplier' account.pk %}" class="btn btn-secondary">Back to Suppliers</a>  
                </div>
                <div class="col-12">

                    <table class="table table-striped">
                        <thead>
                            <th class="border-top border-bottom" scope="col"> SKU </th>
                            <th class="border-top border-bottom" scope="col"> Brand </th>
                            <th class="border-top border-bottom" scope="col"> Cost </th>
                            <th class="border-top border-bottom" scope="col"> Size </th>
                            <th class="border-top border-bottom" scope="col"> Mouth Size </th>
                            <th class="border-top border-bottom" scope="col"> Color </th>
                            <th class="border-top border-bottom" scope="col"> Supplied by </th>
                            <th class="border-top border-bottom" scope="col"> Current Quantity </th>
                        </thead>
                        <tbody>
                            {% for w in waterbottles %}
                            <tr>
                                <td> {{ w.SKU }} </td>
                                <td> {{ w.Brand }} </td>
                                <td> {{ w.Cost }} </td>
                                <td> {{ w.Size }} </td>
                                <td> {{ w.Mouth_Size }} </td>
                                <td> {{ w.Color }} </td>
                                <td> {{ w.Supplied_by.Name }} </td>
                                <td> {{ w.Current_Quantity }} </td>
                                <td>
                                    <a href="{% url 'view_detail' w.pk %}" class="btn btn-info btn-sm">
                                        View Bottle Details
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="9">No Bottles Found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                {% endblock %}